<div class="col-lg-12">
  <nb-card>
    <!-- Se muestra el encabezado si se está en modo creación -->
    <nb-card-header *ngIf="modoCreacion"> CREAR AUTOR PUBLICACION </nb-card-header>
    <!-- Se muestra el encabezado si se está en modo edición -->
    <nb-card-header *ngIf="!modoCreacion">
      ACTUALIZAR AUTOR PUBLICACION
    </nb-card-header>
    <nb-card-body>
      <div class="row">
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label>VOLUMEN</label>
        </div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="elAutorpublicacion.volumen"
          />
          <p *ngIf="intentoEnvio && elAutorpublicacion.volumen == ''">Requerido</p>
        </div>
      </div>

      <br />
      <div class="row">
        <div class="col-3">
          <label>DESCRIPCION </label>
        </div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="elAutorpublicacion.descripcion"
          />
          <p *ngIf="intentoEnvio && elAutorpublicacion.descripcion == ''"> Requerido
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3">
          <label>Numero de paginas</label>
        </div>
        <div class="col-9">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="elAutorpublicacion.numeropaginas"
          />
          <p *ngIf="intentoEnvio && elAutorpublicacion.numeropaginas == ''"> Requerido
          </p>
        </div>
      </div>

      <br />
      <div class="row">
        <div class="col-3">
          <label>Autor</label>
        </div>
        <div class="col-9">
          <select class="form-control" [(ngModel)]="elAutorpublicacion.id_autor">
            <option
              *ngFor="let autor of autorList"
              [value]="autor._id"
            >
              {{ autor.nombres }}
            </option>
          </select>
          <p *ngIf="intentoEnvio && !elAutorpublicacion.id_autor">Requerido</p>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-3">
          <label>Publicacion</label>
        </div>
        <div class="col-9">
          <select class="form-control" [(ngModel)]="elAutorpublicacion.id_publicacion">
            <option
              *ngFor="let publicacion of publicacionList"
              [value]="publicacion._id"
            >
              {{ publicacion.titulo }}
            </option>
          </select>
          <p *ngIf="intentoEnvio && !elAutorpublicacion.id_publicacion">Requerido</p>
        </div>
      </div>
      <br />
      <div class="row">
        <!-- Botón "Crear" visible si se está en modo creación -->
        <button
          *ngIf="modoCreacion"
          class="btn btn-primary btn-block"
          (click)="agregar()"
        >
          Crear
        </button>
        <!-- Botón "Actualizar" visible si se está en modo edición -->
        <button
          *ngIf="!modoCreacion"
          class="btn btn-primary btn-block"
          (click)="editar()"
        >
          Actualizar
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>